*.aux
*.log
*.out
*.toc
assignment*.md
skill.md
detail.md
insights.txt
task1insight.txt
task2insight.txt
task3insight.txt
task4insight.txt
models/
_pycache_/
MetaFam_Complete_Report.fdb_latexmk
*.fls
*.gz
task1_report.fdb_latexmk
task2_report.fdb_latexmk
task3_report.fdb_latexmk
update.md
update2.md